[submodule "cann-recipes-infer"]
	path = cann-recipes-infer
	url = https://gitcode.com/cann/cann-recipes-infer.git
	branch = master
[submodule "cann-samples"]
	path = cann-samples
	url = https://gitcode.com/cann/cann-samples.git
	branch = master
[submodule "ops-transformer"]
	path = ops-transformer
	url = https://gitcode.com/cann/ops-transformer.git
	branch = master
[submodule "ops-nn"]
	path = ops-nn
	url = https://gitcode.com/cann/ops-nn.git
	branch = master
[submodule "op-plugin"]
	path = op-plugin
	url = https://gitcode.com/Ascend/op-plugin.git
	branch = master
[submodule "asc-devkit"]
	path = asc-devkit
	url = https://gitcode.com/cann/asc-devkit.git
	branch = master
[submodule "pto-isa"]
	path = pto-isa
	url = https://gitcode.com/cann/pto-isa.git
	branch = master
[submodule "cannbot-skills"]
	path = cannbot-skills
	url = https://gitcode.com/cann/cannbot-skills.git
	branch = master
